In [35]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression 
from sklearn import metrics
import numpy as np

In [4]:
df_diamond2 = pd.read_csv("../data/clean_diamond_train.csv",encoding = "ISO-8859-1")

In [6]:
df_diamond2.head()

   Unnamed: 0  id  carat  depth  table  price  cut_n  color_n  clarity_n
0           0   0   1.14   61.0   56.0   9013      4        4          3
1           1   1   0.76   62.7   57.0   2692      4        3          5
2           2   2   0.84   61.4   56.0   4372      4        4          4
3           3   3   1.55   62.0   57.0  13665      4        3          4
4           4   4   0.30   61.9   57.0    422      4        4          7

In [7]:
X = df_diamond2.drop(columns =["id","price", "Unnamed: 0"]) #no implace = true

In [9]:
X.head()

   carat  depth  table  cut_n  color_n  clarity_n
0   1.14   61.0   56.0      4        4          3
1   0.76   62.7   57.0      4        3          5
2   0.84   61.4   56.0      4        4          4
3   1.55   62.0   57.0      4        3          4
4   0.30   61.9   57.0      4        4          7

In [10]:
y = df_diamond2.price

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

In [14]:
X_train.shape

(32364, 6)

In [15]:
y_train.shape

(32364,)

In [16]:
X_test.shape

(8091, 6)

In [17]:
y_test.shape

(8091,)

In [19]:
linreg=LinReg()

### Entreno varios modelos de regresión para comparar y elegir el adecuado

In [39]:
from sklearn.linear_model import Ridge, Lasso

from sklearn.linear_model import SGDRegressor

from sklearn.neighbors import KNeighborsRegressor

from sklearn.ensemble import GradientBoostingRegressor

from sklearn.svm import SVR

from sklearn.linear_model import ElasticNet

from sklearn.svm import LinearSVR 

from sklearn.tree import DecisionTreeClassifier

In [40]:
models1= DecisionTreeClassifier(max_depth=1)

In [33]:
models={
    'ridge': Ridge(),
    'lasso': Lasso(),
    'sgd': SGDRegressor(),
    'knn': KNeighborsRegressor(),
    'grad': GradientBoostingRegressor(),
    'lin': LinearRegression(),
    'elast': ElasticNet(),
    'svr': LinearSVR(),
    'rand': RandomForestRegressor()
    
}

In [34]:
for name, model in models.items():
    print("ENTRENANDO: ", name)
    model.fit(X_train, y_train)

ENTRENANDO:  ridge
ENTRENANDO:  lasso
ENTRENANDO:  sgd
ENTRENANDO:  knn
ENTRENANDO:  grad
ENTRENANDO:  lin
ENTRENANDO:  elast
ENTRENANDO:  svr

In [36]:
for name, model in models.items():
    y_pred = model.predict(X_test)
    print(f"------{name}------")
    print('RMSE - Raiz Error Cuadratico Medio', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

------ridge------
RMSE - Raiz Error Cuadratico Medio 1235.6585374019933
------lasso------
RMSE - Raiz Error Cuadratico Medio 1235.6344115792654
------sgd------
RMSE - Raiz Error Cuadratico Medio 63628805.479685344
------knn------
RMSE - Raiz Error Cuadratico Medio 1916.894491166182
------grad------
RMSE - Raiz Error Cuadratico Medio 627.6887579511445
------lin------
RMSE - Raiz Error Cuadratico Medio 1235.6636292271971
------elast------
RMSE - Raiz Error Cuadratico Medio 2947.3853634412353
------svr------
RMSE - Raiz Error Cuadratico Medio 1893.2766716970614

#### Elegimos el modelo "grad" a partir del cual haremos el árbol

In [37]:
from sklearn.tree import DecisionTreeRegressor