In [45]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression 
from sklearn import metrics
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor

#### Importo mi csv de train limpio

In [ ]:
df_diamond2 = pd.read_csv("../data/clean_diamond_train.csv")

In [6]:
df_diamond2.head()

   Unnamed: 0  id  carat  depth  table  price  cut_n  color_n  clarity_n
0           0   0   1.14   61.0   56.0   9013      4        4          3
1           1   1   0.76   62.7   57.0   2692      4        3          5
2           2   2   0.84   61.4   56.0   4372      4        4          4
3           3   3   1.55   62.0   57.0  13665      4        3          4
4           4   4   0.30   61.9   57.0    422      4        4          7

#### Elimino las columnas de Unnamed, id, y price ya que para nuestro entrenamiento no son necesarias, defiiniendo así las variables X e y

In [7]:
X = df_diamond2.drop(columns =["id","price", "Unnamed: 0"]) #no implace = true

In [9]:
X.head()

   carat  depth  table  cut_n  color_n  clarity_n
0   1.14   61.0   56.0      4        4          3
1   0.76   62.7   57.0      4        3          5
2   0.84   61.4   56.0      4        4          4
3   1.55   62.0   57.0      4        3          4
4   0.30   61.9   57.0      4        4          7

In [10]:
y = df_diamond2.price

### Comenzamos el entramiento

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

In [14]:
X_train.shape

(32364, 6)

In [15]:
y_train.shape

(32364,)

In [16]:
X_test.shape

(8091, 6)

In [17]:
y_test.shape

(8091,)

### Entreno varios modelos de regresión para comparar y elegir el adecuado

In [39]:
from sklearn.linear_model import Ridge, Lasso

from sklearn.linear_model import SGDRegressor

from sklearn.neighbors import KNeighborsRegressor

from sklearn.ensemble import GradientBoostingRegressor

from sklearn.svm import SVR

from sklearn.linear_model import ElasticNet

from sklearn.svm import LinearSVR 

from sklearn.tree import DecisionTreeClassifier

In [91]:
models={
    'ridge': Ridge(),
    'lasso': Lasso(),
    'sgd': SGDRegressor(),
    'knn': KNeighborsRegressor(),
    'grad': GradientBoostingRegressor(),
    'lin': LinearRegression(),
    'elast': ElasticNet(),
    'svr': LinearSVR(),
    'rand': RandomForestRegressor(),
    'tree': DecisionTreeRegressor(),
    
}

#### Entreno los modelos con el 80% de los datos totales del dataset train.

In [92]:
for name, model in models.items():
    print("ENTRENANDO: ", name)
    model.fit(X_train, y_train)

ENTRENANDO:  ridge
ENTRENANDO:  lasso
ENTRENANDO:  sgd
ENTRENANDO:  knn
ENTRENANDO:  grad
ENTRENANDO:  lin
ENTRENANDO:  elast
ENTRENANDO:  svr
ENTRENANDO:  rand
ENTRENANDO:  tree

#### Hago la predicción en base a X_test, que es el 20% del dataset train

In [93]:
for name, model in models.items():
    y_pred = model.predict(X_test)
    print(f"------{name}------")
    print('RMSE - Raiz Error Cuadratico Medio', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

------ridge------
RMSE - Raiz Error Cuadratico Medio 1235.6585374019933
------lasso------
RMSE - Raiz Error Cuadratico Medio 1235.6344115792654
------sgd------
RMSE - Raiz Error Cuadratico Medio 3380837.2113534156
------knn------
RMSE - Raiz Error Cuadratico Medio 1916.894491166182
------grad------
RMSE - Raiz Error Cuadratico Medio 627.6887579511448
------lin------
RMSE - Raiz Error Cuadratico Medio 1235.6636292271971
------elast------
RMSE - Raiz Error Cuadratico Medio 2947.3853634412353
------svr------
RMSE - Raiz Error Cuadratico Medio 1892.4158990061844
------rand------
RMSE - Raiz Error Cuadratico Medio 557.0069230570623
------tree------
RMSE - Raiz Error Cuadratico Medio 736.1822944100163

### Nos quedamos con los 3 mejores modelos que serían los que tienen menor error cuadrático medio y los entrenos de nuevo en base al total de valores de train (X, y)

In [94]:
models_mejores={
    'grad': GradientBoostingRegressor(),
    'rand': RandomForestRegressor(),
    'tree': DecisionTreeRegressor(),
    
}

In [95]:
for name, model in models_mejores.items():
    print("ENTRENANDO: ", name)
    model.fit(X, y)

ENTRENANDO:  grad
ENTRENANDO:  rand
ENTRENANDO:  tree

In [96]:
for name, model in models_mejores.items():
    y_pred_X = model.predict(X)
    print(f"------{name}------")
    print('RMSE - Raiz Error Cuadratico Medio', np.sqrt(metrics.mean_squared_error(y, y_pred_X)))

------grad------
RMSE - Raiz Error Cuadratico Medio 610.7211689205224
------rand------
RMSE - Raiz Error Cuadratico Medio 210.86924965393433
------tree------
RMSE - Raiz Error Cuadratico Medio 55.99749897463047

### Predicción con test

In [103]:
df_diamond_test = pd.read_csv("../data/clean_diamond_test.csv",encoding = "ISO-8859-1")

In [104]:
df_diamond_test

       Unnamed: 0     id  carat  depth  table  cut_n  color_n  clarity_n
0               0      0   1.00   56.3   64.0      1        1          7
1               1      1   0.83   62.3   58.0      5        4          6
2               2      2   1.00   67.0   53.0      1        6          7
3               3      3   1.00   66.5   62.0      1        3          7
4               4      4   1.20   62.6   57.0      3        2          6
...           ...    ...    ...    ...    ...    ...      ...        ...
13480       13480  13480   1.00   61.5   59.0      5        5          3
13481       13481  13481   2.12   60.6   59.0      5        2          7
13482       13482  13482   1.10   60.7   57.0      4        5          5
13483       13483  13483   0.34   63.1   56.0      2        2          3
13484       13484  13484   0.37   61.4   55.0      4        4          1

[13485 rows x 8 columns]

#### Elimino las columnas que no me dan valor para poder hacer la predicción de test

In [106]:
test_t = df_diamond_test.drop(columns =["id", "Unnamed: 0"]) #inlcuyo en variable para no modificar el dataset original

In [97]:
tree = models_mejores ["tree"]

In [107]:
y_pred_test = tree.predict(test_t)

#### Incluyo la columna "price" a mi dataset y elimino el resto de columnas excepto el id para poder llevar a cabo la submission1

In [108]:
df_diamond_test["price"] = y_pred_test

In [112]:
test2= df_diamond_test.drop(columns =["Unnamed: 0", "carat", "depth","table","cut_n","color_n", "clarity_n"]) #inlcuyo en variable para no modificar el dataset original

In [147]:
test2

          id    price
0          0   3246.0
1          1   3674.0
2          2   3136.0
3          3   2818.0
4          4   5408.0
...      ...      ...
13480  13480   8400.0
13481  13481  15915.0
13482  13482   9486.0
13483  13483    661.0
13484  13484   1001.0

[13485 rows x 2 columns]

In [114]:
test2.to_csv("../data/submission1.csv", index=False)

### Para mejorar el modelo les incluyo sus parámetros

#### Utilizo get_params para obtener los parámetros de todos los modelos que he utilizado

In [49]:
for name, model in models.items():
    print(model.get_params(deep=True))

{'alpha': 1.0, 'copy_X': True, 'fit_intercept': True, 'max_iter': None, 'normalize': 'deprecated', 'positive': False, 'random_state': None, 'solver': 'auto', 'tol': 0.001}
{'alpha': 1.0, 'copy_X': True, 'fit_intercept': True, 'max_iter': 1000, 'normalize': 'deprecated', 'positive': False, 'precompute': False, 'random_state': None, 'selection': 'cyclic', 'tol': 0.0001, 'warm_start': False}
{'alpha': 0.0001, 'average': False, 'early_stopping': False, 'epsilon': 0.1, 'eta0': 0.01, 'fit_intercept': True, 'l1_ratio': 0.15, 'learning_rate': 'invscaling', 'loss': 'squared_error', 'max_iter': 1000, 'n_iter_no_change': 5, 'penalty': 'l2', 'power_t': 0.25, 'random_state': None, 'shuffle': True, 'tol': 0.001, 'validation_fraction': 0.1, 'verbose': 0, 'warm_start': False}
{'algorithm': 'auto', 'leaf_size': 30, 'metric': 'minkowski', 'metric_params': None, 'n_jobs': None, 'n_neighbors': 5, 'p': 2, 'weights': 'uniform'}
{'alpha': 0.9, 'ccp_alpha': 0.0, 'criterion': 'friedman_mse', 'init': None, 'learning_rate': 0.1, 'loss': 'squared_error', 'max_depth': 3, 'max_features': None, 'max_leaf_nodes': None, 'min_impurity_decrease': 0.0, 'min_samples_leaf': 1, 'min_samples_split': 2, 'min_weight_fraction_leaf': 0.0, 'n_estimators': 100, 'n_iter_no_change': None, 'random_state': None, 'subsample': 1.0, 'tol': 0.0001, 'validation_fraction': 0.1, 'verbose': 0, 'warm_start': False}
{'copy_X': True, 'fit_intercept': True, 'n_jobs': None, 'normalize': 'deprecated', 'positive': False}
{'alpha': 1.0, 'copy_X': True, 'fit_intercept': True, 'l1_ratio': 0.5, 'max_iter': 1000, 'normalize': 'deprecated', 'positive': False, 'precompute': False, 'random_state': None, 'selection': 'cyclic', 'tol': 0.0001, 'warm_start': False}
{'C': 1.0, 'dual': True, 'epsilon': 0.0, 'fit_intercept': True, 'intercept_scaling': 1.0, 'loss': 'epsilon_insensitive', 'max_iter': 1000, 'random_state': None, 'tol': 0.0001, 'verbose': 0}
{'bootstrap': True, 'ccp_alpha': 0.0, 'criterion': 'squared_error', 'max_depth': None, 'max_features': 'auto', 'max_leaf_nodes': None, 'max_samples': None, 'min_impurity_decrease': 0.0, 'min_samples_leaf': 1, 'min_samples_split': 2, 'min_weight_fraction_leaf': 0.0, 'n_estimators': 100, 'n_jobs': None, 'oob_score': False, 'random_state': None, 'verbose': 0, 'warm_start': False}
{'ccp_alpha': 0.0, 'criterion': 'squared_error', 'max_depth': None, 'max_features': None, 'max_leaf_nodes': None, 'min_impurity_decrease': 0.0, 'min_samples_leaf': 1, 'min_samples_split': 2, 'min_weight_fraction_leaf': 0.0, 'random_state': None, 'splitter': 'best'}

In [76]:
#help(Ridge())

In [61]:
parameters_lin={'copy_X': [True,False],
                'fit_intercept': [True,False],
                'n_jobs': [-2,-1,1,2,None],  
                'positive': [True,False],
               }

In [64]:
parameters_ridge={'alpha': [1.0,2.0,3.0,4.0],
                 'copy_X': [True,False], 
                 'fit_intercept': [True,False], 
                 'max_iter': [1000, 15000, None],  
                 'positive': [True,False], 
                 'random_state':[1,2,3,4,5,None] , 
                 'solver': ['auto', 'svd', 'cholesky', 'lsqr', 'sparse_cg'], 
                 'tol': [0.001, 0.002, 0.003],
                 }

In [65]:
parameters_lasso={'alpha': [0.0,1.0], 
                  'copy_X': [True,False], 
                  'fit_intercept': [True,False], 
                  'max_iter': [500,1000,1500],  
                  'positive': [True,False], 
                  'precompute': [True,False], 
                  'random_state': [True,False], 
                  'selection': ['cyclic','random'], 
                  'tol': [0.0001, 0.0002],
                  'warm_start': [True,False]
                 }

In [68]:
parameters_sgd={'alpha': [0.0001,0.001,0.01], 
                'average': [True,False], 
                'early_stopping': [True,False], 
                'epsilon': [0.1,0.2,0.3], 
                'eta0': [0.1,0.2,0.3], 
                'fit_intercept': [True,False], 
                'l1_ratio': [0,0.15,0.5,0.75,1.0], 
                'learning_rate': ['invscaling','adaptive','constant','constant'], 
                'loss': ['squared_error', 'huber', 'epsilon_insensitive', 'squared_epsilon_insensitive'],
                'max_iter': [500,1000,2000], 
                'n_iter_no_change': [2,5,10],
                'penalty': ['l2','l1', 'elasticnet'], 
                'power_t': [0.25, 0.5],  
                'shuffle': [True,False], 
                'tol': [0.001, None], 
                'validation_fraction': [0.0,0.1,0.5,0.75,1.0],
                'verbose': [0,1,2], 
                'warm_start': [True,False]
               }

In [69]:
parameters_knn={'algorithm': ['auto','ball_tree', 'kd_tree', 'brute'], 
                'leaf_size': [20,30,40], 
                'metric': ['minkowski',"precomputed"],  
                'n_jobs': [-1,None], 
                'n_neighbors':[1,2,3,4,5,6,7,8,9], 
                'p': [1,2], 
                'weights': ['uniform','distance']
               }

In [71]:
parameters_grad={'alpha': [0.1, 0.5, 0.9], 
                 'ccp_alpha': [0.0,0.1, 0.5, 0.9], 
                 'criterion': ['friedman_mse', 'squared_error', 'mse', 'mae'],  
                 'learning_rate': [0.1, 0.5], 
                 'loss': ['squared_error', 'absolute_error', 'huber', 'quantile'], 
                 'max_depth': [1,2,3,4,5], 
                 'max_features': ['auto', 'sqrt', 'log2',None], 
                 'max_leaf_nodes':[50,100,200, None], 
                 'min_impurity_decrease': [0.0,0.1,0.5,1.0], 
                 'min_samples_leaf': [1,2,3,4,5], 
                 'min_samples_split': [1,2,3,4,5], 
                 'min_weight_fraction_leaf': [0.0, 0.5],
                 'n_estimators': [100, 200,300, 500], 
                 'n_iter_no_change': [2,5,10,None],  
                 'subsample': [0.1,0.5,1.0], 
                 'tol': [0.0001, 0.0002, 0.0003, 0.0004, 0.0005],
                 'validation_fraction': [0.0,0.1,0.5, 0.75,1.0], 
                 'verbose': [0,1,2],
                 'warm_start': [True,False]}

In [72]:
parameter_elast = {'alpha': [1.0, 2.0, 3.0, 4.0, 5.0], 
                   'copy_X': [True, False],
                   'fit_intercept': [True, False],
                   'l1_ratio': [0.1, 0.5, 1.0], 
                   'max_iter': [1000, 2000, 3000, 4000, 5000], 
                   'positive': [True, False],
                   'precompute': [True, False],
                   'selection': ['cyclic', 'random'], 
                   'tol': [0.0001, 0.0002, 0.0003, 0.0004, 0.0005],
                   'warm_start': [True, False],
                  }

In [73]:
parameters_svr = {'C': [1.0, 2.0, 3.0, 4.0, 5.0], 
                  'dual': [True, False], 
                  'epsilon': [0.0, 1.0, 2.0, 3.0, 4.0, 5.0],
                  'fit_intercept': [True, False], 
                  'intercept_scaling': [1.0, 2.0, 3.0, 4.0, 5.0],
                  'loss': ['epsilon_insensitive', 'squared_epsilon_insensitive'], 
                  'max_iter': [1000, 2000, 3000, 4000, 5000], 
                  'tol': [0.0001, 0.0002, 0.0003, 0.0004, 0.0005],
                  'verbose': [0, 1, 2]
                 }

In [74]:
parameters_rand = {'bootstrap': [True, False],
 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, None],
 'max_features': ['auto', 'sqrt'],
 'min_samples_leaf': [1, 2, 4],
 'min_samples_split': [2, 5, 10],
 'n_estimators': [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]}

In [82]:
parameters_tree = {'ccp_alpha': [0.0, 0.1, 0.2],
                   'criterion': ["squared_error", "friedman_mse", "absolute_error", "poisson"], 
                   'max_depth': [0,1,2,3,4,5,None], 
                   'max_features': ["auto", "sqrt", "log2", None],
                   'max_leaf_nodes': [0,1,2,3,4,5,None], 
                   'min_impurity_decrease': [0.0, 0.1, 0.2],
                   'min_samples_leaf': [1,2,3,4,5], 
                   'min_samples_split': [1,2,3,4,5],
                   'min_weight_fraction_leaf': [0.0, 0.1, 0.2],
                   'splitter': ['best', 'random']
                  }

In [48]:
 from sklearn.model_selection import GridSearchCV

### Intento mejorar el modelo de "tree" con el método grid, que elige los valores de los mejores hiperparámetros

In [ ]:
#con todos los valores de los parámetros de tree ha estado cargando un día entero y no me ha dado ningún resultado.
#pruebo solo con tres parámetros para tree

In [116]:
parameters_tree2 ={'ccp_alpha': [0.0, 0.1, 0.2],
                   'criterion': ["squared_error", "friedman_mse", "absolute_error", "poisson"], 
                   'max_depth': [0,1,2,3,4,5,None]}

In [117]:
tree = models ["tree"]

In [118]:
grid_tree = GridSearchCV(tree, parameters_tree2, verbose = 1)

In [119]:
grid_tree.fit(X_train, y_train)

Fitting 5 folds for each of 84 candidates, totalling 420 fits

/home/beatrizsp/anaconda3/envs/ironhack/lib/python3.8/site-packages/sklearn/model_selection/_validation.py:372: FitFailedWarning:
60 fits failed out of a total of 420.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
60 fits failed with the following error:
Traceback (most recent call last):
  File "/home/beatrizsp/anaconda3/envs/ironhack/lib/python3.8/site-packages/sklearn/model_selection/_validation.py", line 681, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/home/beatrizsp/anaconda3/envs/ironhack/lib/python3.8/site-packages/sklearn/tree/_classes.py", line 1315, in fit
    super().fit(
  File "/home/beatrizsp/anaconda3/envs/ironhack/lib/python3.8/site-packages/sklearn/tree/_classes.py", line 306, in fit
    raise ValueError("max_depth must be greater than zero. ")
ValueError: max_depth must be greater than zero.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/home/beatrizsp/anaconda3/envs/ironhack/lib/python3.8/site-packages/sklearn/model_selection/_search.py:969: UserWarning: One or more of the test scores are non-finite: [           nan 6.08898173e-01 8.25150480e-01 8.87088378e-01
 9.17124510e-01 9.39720494e-01 9.65629436e-01            nan
 6.08898173e-01 8.25150480e-01 8.87088378e-01 9.17124510e-01
 9.39720494e-01 9.65813536e-01            nan 5.25147805e-01
 8.10865913e-01 8.73404440e-01 9.05416949e-01 9.33222531e-01
 9.65250139e-01            nan 2.01384639e-04 1.97896743e-02
 3.59023506e-02 4.78424908e-02 1.15929600e-01 9.30705953e-01
            nan 6.08898173e-01 8.25150480e-01 8.87088378e-01
 9.17124510e-01 9.39720494e-01 9.65905746e-01            nan
 6.08898173e-01 8.25150480e-01 8.87088378e-01 9.17124510e-01
 9.39720494e-01 9.66138887e-01            nan 5.25147805e-01
 8.10865913e-01 8.73404440e-01 9.05416949e-01 9.33222531e-01
 9.71909229e-01            nan 2.01384639e-04 1.97863689e-02
 3.60219286e-02 4.78972516e-02 1.16123909e-01 9.21267507e-01
            nan 6.08898173e-01 8.25150480e-01 8.87088378e-01
 9.17124510e-01 9.39720494e-01 9.65811274e-01            nan
 6.08898173e-01 8.25150480e-01 8.87088378e-01 9.17124510e-01
 9.39720494e-01 9.66001544e-01            nan 5.25147805e-01
 8.10865913e-01 8.73404440e-01 9.05416949e-01 9.33222531e-01
 9.73208803e-01            nan 2.01384639e-04 1.97863689e-02
 3.60219286e-02 4.78972516e-02 1.16123909e-01 9.10425026e-01]
  warnings.warn(

GridSearchCV(estimator=DecisionTreeRegressor(),
             param_grid={'ccp_alpha': [0.0, 0.1, 0.2],
                         'criterion': ['squared_error', 'friedman_mse',
                                       'absolute_error', 'poisson'],
                         'max_depth': [0, 1, 2, 3, 4, 5, None]},
             verbose=1)

#### Obtengo los mejores valores de cada parámetro

In [121]:
grid_tree.best_params_

{'ccp_alpha': 0.2, 'criterion': 'absolute_error', 'max_depth': None}

In [122]:
pd.DataFrame(grid_tree.cv_results_).head()

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_ccp_alpha,param_criterion,param_max_depth,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.007259,0.001374,0.000000,0.000000,0.0,squared_error,0,"{'ccp_alpha': 0.0, 'criterion': 'squared_error...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,84
1,0.018821,0.000337,0.003773,0.000150,0.0,squared_error,1,"{'ccp_alpha': 0.0, 'criterion': 'squared_error...",0.617157,0.597182,0.611392,0.608523,0.610238,0.608898,0.006537,49
2,0.030329,0.000669,0.004069,0.000247,0.0,squared_error,2,"{'ccp_alpha': 0.0, 'criterion': 'squared_error...",0.825586,0.815928,0.827186,0.826946,0.830106,0.825150,0.004841,40
3,0.040966,0.000349,0.004077,0.000049,0.0,squared_error,3,"{'ccp_alpha': 0.0, 'criterion': 'squared_error...",0.889947,0.885984,0.882480,0.886680,0.890352,0.887088,0.002879,31
4,0.051765,0.000408,0.004237,0.000124,0.0,squared_error,4,"{'ccp_alpha': 0.0, 'criterion': 'squared_error...",0.920790,0.914797,0.914660,0.917301,0.918074,0.917125,0.002274,21

#### Para entrenar el mejor modelo utilizo diréctamente el método cross_validate

In [133]:
from sklearn.metrics import fbeta_score, make_scorer
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_validate
from sklearn.metrics import mean_absolute_error

In [127]:
mse_scorer= make_scorer(mean_squared_error)

In [136]:
cross = cross_validate(estimator=DecisionTreeRegressor(ccp_alpha= 0.2, criterion= 'absolute_error', max_depth= None), X=X_train, y=y_train,
               scoring=mse_scorer, cv = 5, verbose = 2, n_jobs= -1)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done   2 out of   5 | elapsed:  2.4min remaining:  3.7min
[Parallel(n_jobs=-1)]: Done   5 out of   5 | elapsed:  2.5min remaining:    0.0s
[Parallel(n_jobs=-1)]: Done   5 out of   5 | elapsed:  2.5min finished

In [138]:
cross

{'fit_time': array([145.95207167, 142.89530087, 144.44023371, 145.76437068,
        145.80181265]),
 'score_time': array([0.0042851 , 0.00606251, 0.00577664, 0.00444245, 0.00539684]),
 'test_score': array([410891.56928781, 432224.08037232, 442569.48895412, 411742.18681446,
        450763.71090853])}

In [139]:
best5= grid_tree.best_estimator_

In [140]:
best5

DecisionTreeRegressor(ccp_alpha=0.2, criterion='absolute_error')

#### Hago la predicción con test

In [141]:
y_pred_test5 = best5.predict(test_t)

In [144]:
test5 = pd.DataFrame(y_pred_test5)

In [155]:
test5 = test5.reset_index()

In [161]:
test5

          id        0
0          0   3294.0
1          1   2815.0
2          2   3554.5
3          3   3554.5
4          4   5541.0
...      ...      ...
13480  13480   8849.5
13481  13481  15399.5
13482  13482   7564.0
13483  13483    608.0
13484  13484   1011.5

[13485 rows x 2 columns]

#### Modifico nombres de columnas para poder hacer la submission

In [162]:
para_index = {"index": "id", 0: "price"}

In [163]:
test5.rename(columns=para_index, inplace=True)

In [165]:
test5.head()

   id   price
0   0  3294.0
1   1  2815.0
2   2  3554.5
3   3  3554.5
4   4  5541.0

In [166]:
test5.to_csv("../data/submission2.csv", index=False)